@import "tailwindcss";

:root {
  /* Luxury Colours */
  --background: #fae9d3;
  --background-alt: #f6e5d1;

  --foreground: #221a16;
  --muted: #6b625d;

  --accent: #b08a4f;
  --accent-light: #d6bb89;

  --border: rgba(176, 138, 79, 0.18);

  /* Typography */
  --font-heading: serif;
  --font-body: sans-serif;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}